body{
      margin: 0;
     font-family: 'Montserrat', sans-serif;
} 
section{
    height: 500px;
    padding-bottom: 150px;
    display: flex;
} 
.orange-color{
    color: orangered;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
.link-button{
text-decoration: none;
color: white;
background-image: linear-gradient(orange,tomato);
padding: 10px 35px;
border-radius: 5px;
font-weight: 700;
}

.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dream-area{
background-image: url(../images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}